---


const{ titulo, description} =  Astro.props;
---



<a class="shadow-transparent block max-w-4xl p-6 bg-gray-800 bg-gradient rounded-3xl bg-gradient-to-l from-purple-600/50 to-blue-800/40">
    <h5 class=" mb-2 text-xl font-extrabold text-wrap font-style: italic justify-center items-end  tracking-tight text-center text-yellow-500/90 "><span class="not-italics text-gray-300/30 text-lg font-light line-through pr-1">Soy </span>Gerald Quiñenao</h5>
    <p class="text-base font-extralight text-pretty  text-gray-300">Estudiante de <span class="text-lx opacity-90 font-bold text-orange-400/90">Duoc Uc</span>
        Desarrollador Web y Frontend, me gusta la programación y la tecnología, me gusta aprender cosas nuevas y compartir mis conocimientos.
        Estoy en constante aprendizaje y me gusta ayudar a las personas a resolver sus problemas. 
        Como en capacitarme en nuevas tecnologías y herramientas.

    </p>
    </a>
