<span class=" px-2 2xl:p-1 md:p-0.5 text-sm font-medium text-gray-400/80 rounded-lg border  hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none border-white/10  focus:ring-blue-700 focus:text-blue-700 inline-flex items-center">
    <span class="w-2 h-2 me-1 bg-green-500 rounded-full"></span>
    Disponible
</span>