---
import ExperienceItem from '../components/ExperienceItem.astro';

const EXPERIENCIE = [{
    date: 'Septiembre 2022 - Actualmente...',
    tittle: 'Koslan',
    description: 
    'Actualmente Trabajando fuera del Area. Trabajo logistico y de maquinaria donde soy encargado de Area como el de personas.',
    Link: '#certificaciones'
},
{   date: 'FreeLancer',
    tittle: 'Servicio Técnico, Desarrollo de Software y Soporte Tecnológico',
    description: 
    'Mantenimiento e reparación para computadoras y teléfonos inteligentes, así como desarrollo de software y aplicaciones web. Estoy respaldado por una sólida formación universitaria en tecnologías de la información, lo que me permite ofrecer soluciones innovadoras y eficientes. Además, poseo experiencia en hardware y software, asegurando un soporte completo para todas tus necesidades tecnológicas.',
},
{   date: '2021 - 2022',
    tittle: 'Taiyo To Neko',
    description: 
    'Emprendimiento de venta de productos de anime y manga, donde me encargaba de la gestión de la tienda online, la atención al cliente y la logística de envíos. Además, realizaba la gestión de redes sociales y la creación de contenido para atraer a nuevos clientes. Ventas en ferias y eventos de anime. Compras a traves de alibaba y aliexpress.',
},
]
---
<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCIE.map((experiencie => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experiencie} />
            </li>
        )))
    }
</ol>

