---
import ExperienceItem from '../components/ExperienceItem.astro';

const EXPERIENCIE = [
{
    date: 'Septiembre 2025 - Actualmente...',
    tittle: 'Proyecto AET',
    description: 
    'Desarrollador freelance para el proyecto AET (Ahora es el Tiempo). Creando una web informativa y de presentación para el Ministerio AET, diseñada con una interfaz intuitiva y funcional, facilitando la organización y el acercamiento de personas a la congregación. Mi enfoque fue ofrecer una experiencia digital eficiente y accesible, promoviendo una conexión más profunda con la comunidad y su fe.',
    Link: '#certificaciones'
}, 
{
    date: 'Septiembre 2024 - Marzo 2025',
    tittle: 'Sun y Neko',
    description: 
    'Freelance con experiencia en emprendimiento y creación de e-commerce. Cofundador de la marca Sun y Neko, especializada en ropa y accesorios de estilo kawaii, coreano y casual. Gestiono la tienda en Shopify, combinando creatividad y enfoque estratégico para expandir las ventas online. Siempre en busca de nuevos desafíos profesionales que impulsen mi crecimiento y el éxito de mis proyectos.',
    Link: 'https://www.sunyneko.cl/'
},       
{   date: 'FreeLancer',
    tittle: 'Servicio Técnico, Desarrollo de Software y Soporte Tecnológico',
    description: 
    'Mantenimiento e reparación para computadoras y teléfonos inteligentes, así como desarrollo de software y aplicaciones web. Estoy respaldado por una sólida formación universitaria en tecnologías de la información, lo que me permite ofrecer soluciones innovadoras y eficientes. Además, poseo experiencia en hardware y software, asegurando un soporte completo para todas tus necesidades tecnológicas.',
},
{   date: '2021 - 2022',
    tittle: 'Taiyo To Neko',
    description: 
    'Emprendimiento de venta de productos de anime y manga; Encargado de la gestión de la tienda online, atención al cliente, la logística de envíos. Gestión de redes sociales y la creación de contenido para atraer a nuevos clientes. Ventas en ferias como eventos de anime. Compras a traves de alibaba e aliexpress.',
},
]
---
<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCIE.map((experiencie => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experiencie} />
            </li>
        )))
    }
</ol>

