---
import Home from "./icon/Home.astro";
import BriefCase from "./icon/BriefCase.astro";
import Among from "./icon/Among.astro";
import SkillsIcon from "./icon/SkillsIcon.astro";
import Contact from "./icon/Contact.astro";


---

<footer class=" rounded-lg  m-4 backdrop-blur-lg py-8 w-full xl:w-[1120px] mx-auto">
    <div class="w-full  mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="font-semibold text-pretty text-sm sm:text-center opacity-90 text-yellow-300/70">
                © 2024 Gerald Quiñenao, Casi todos los derechos reservados.
            </span>
            <ul class="flex flex-wrap font-semibold text-pretty items-center mt-3 text-sm text-white/90 sm:mt-0">
                <li>
                    <a href="#top" class="hidden md:block sm:block hover:underline me-4 md:me-6">Home</a>
                </li>
                <li>
                    <a href="#experiencia" class="hidden md:block sm:block hover:underline me-4 md:me-6">Experiencia</a>
                </li>
                <li>
                    <a href="#sobre-mi" class="hidden md:block sm:block hover:underline me-4 md:me-6">Sobre mí</a>
                </li>
                <li>
                    <a href="#skills" class="hidden md:block sm:block hover:underline me-4 md:me-6">Skill's</a>
                </li>
                <li>
                    <a href="#contacto" class="hidden md:block sm:block hover:underline">Contacto</a>
                </li>
                <!--Iconos de Movil -->
                <li>
                    <a href="#top" class="block md:hidden sm:hidden hover:underline me-4 md:me-6"><Home class=" sm:size-5  md:size-10"/></a>
                </li>
                <li>
                    <a href="#experiencia" class="block md:hidden sm:hidden hover:underline me-4 md:me-6"><BriefCase class="sm:size-5  md:size-10"/></a>
                </li>
                <li>
                    <a href="#sobre-mi" class="block md:hidden sm:hidden hover:underline me-4 md:me-6"><Among class="sm:size-5  md:size-10"/></a>
                </li>
                <li>
                    <a href="#skills" class="block md:hidden sm:hidden hover:underline me-4 md:me-6"><SkillsIcon class="sm:size-5  md:size-10"/></a>
                </li>
                <li>
                    <a href="#contacto" class="block md:hidden sm:hidden hover:underline"><Contact class="sm:size-5  md:size-10"/></a>
                </li>
            </ul>
        </div>
    </div>
</footer>

