---
import HTML from './icon/skill/SkillHtml.astro';
import CSS from './icon/skill/SkillCss.astro';
import JavaScript from './icon/skill/SkillJs.astro';
import Bootstrap from './icon/skill/SkillBootstrap.astro';
import Typescript from './icon/skill/SkillTypescript.astro';
import Angular from './icon/skill/SkillAngular.astro';
import Ionic from './icon/skill/SkillIonic.astro';
import IconAstro from './icon/skill/SkillAstro.astro';
import IconTailwind from './icon/skill/SkillTailwind.astro';
import Shopify from './icon/skill/SkillShopify.astro';
import Flutter from './icon/skill/SkillFlutter.astro';
import Firebase from './icon/skill/SkillFirebase.astro';
import GitHub from './icon/skill/SkillGithub.astro';
import GitOnly from './icon/skill/GitOnly.astro';
import Vscode from './icon/skill/Vscode.astro';
import Npm from './icon/skill/Npm.astro';
import React from './icon/skill/SkillReact.astro';
import Mysql from './icon/skill/Mysql.astro';
import Python from './icon/skill/SkillPython.astro';
import Sass from './icon/Sass.astro';
import PlSql from './icon/skill/PlSql.astro';
import Bun from './icon/skill/Bun.astro';
import Godot from './icon/skill/Godot.astro';
import Csharp from './icon/skill/Csharp.astro';
import Canva from './icon/skill/Canva.astro';
import AndroidStudio from './icon/skill/AndroidStudio.astro';
import Java from './icon/skill/Java.astro';
import Linux from './icon/skill/Linux.astro';
import Confluence from './icon/skill/Confluence.astro';

---
<div class="grid mx-2  rounded-lg md:mb-12 md:grid-cols-2 border-lg shadow-xl shadow-gray-500/30 opacity-70 bg-gradient-to-1 ">
    <figure class=" shadow-inner shadow-purple-700/30 py-3 flex flex-col items-center justify-center p-8 text-center bg-gradient-to-l border-2xl rounded-ss-lg from-purple-700/40 to-blue-600/30  ">
        <blockquote class=" max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-yellow-400">FrontEnd</h3>
            <div class=" py-3 flex flex-wrap justify-center gap-4"> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4 text-orange-400/80 content-center mx-auto">
                    <HTML class="items-center shadow-sm content-center  size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">HTML</p>
                </div>
                <div>
                <div class="flex flex-wrap justify-center gap-4 text-orange-400/80 content-center mx-auto">
                    </div>
                    <CSS class="items-center content-center size-10"  />
                    <p class="text-xs text-center justify-center mx-auto list-none font-sans text-pretty text-gray-400 flex-wrap flex ">CSS</p>
                </div>
                <div>
                    <div class="flex flex-wrap justify-center gap-4 text-orange-400/80 content-center mx-auto">
                    <JavaScript class="items-center shadow-sm content-center size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">JavaScript</p>
                </div> 
                <div>
                <div class="flex flex-wrap justify-center gap-4 text-orange-400/80 content-center mx-auto">
                    </div>
                    <IconTailwind class="items-center content-center size-10"  />
                    <p class="text-xs text-center justify-center mx-auto list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Tailwind</p>
                </div>  
                <div>
                <div class="flex flex-wrap justify-center gap-4 text-orange-400/80 content-center mx-auto">
                    </div>
                    <Sass class="items-center content-center size-10"   />
                    <p class="text-xs text-center justify-center mx-auto list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Sass</p>
                </div>     
            </div>
        </blockquote>   
    </figure>
    <figure class="shadow-inner shadow-purple-700/30 flex flex-col items-center justify-center p-8 text-center bg-gradient-to-l rounded-se-lg bg-gradient from-purple-600/50 to-blue-800/40">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold  text-yellow-400">BackEnd</h3>
            <div class=" py-3 flex flex-wrap justify-center gap-4">
                <div>
                    <div class="flex flex-wrap justify-center gap-4 text-orange-400/80 content-center mx-auto">
                    <Angular class="items-center shadow-sm content-center  size-10"/>
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Angular</p>
                </div> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4 text-orange-400/80 content-center mx-auto">
                    <Ionic class="items-center shadow-sm content-center size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Ionic</p>
                </div> 
                <div>
                <div class="flex flex-wrap justify-center gap-4 text-orange-400/80 content-center mx-auto">
                    </div>
                    <Firebase class="items-center content-center rounded-full size-10" />
                    <p class="text-xs text-center justify-center mx-auto list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Firebase</p>
                </div> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4 text-orange-400/80 content-center mx-auto">
                    <Bootstrap class="items-center shadow-sm content-center rounded-full size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Bootstrap</p>
                </div> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4 text-orange-400/80 content-center mx-auto">
                    <Mysql class="items-center shadow-sm content-center size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">MySql</p>
                </div> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4 text-orange-400/80 content-center mx-auto">
                    <Python class="items-center shadow-sm content-center size-10"  />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Python</p>
                </div> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4 text-orange-400/80 content-center mx-auto">
                    <PlSql class="items-center shadow-sm content-center  size-10"  />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Pl/Sql</p>
                </div> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4 text-orange-400/80 content-center mx-auto">
                    <Java class="items-center shadow-sm content-center  size-10"  />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Java</p>
                </div> 

            </div>
        </blockquote>
    </figure>
    <figure class="shadow-inner shadow-purple-700/30  flex flex-col items-center justify-center p-8 text-center bg-gradient-to-l rounded-es-lg  bg-gradient from-purple-600/50 to-blue-800/40">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold  text-yellow-400">Aprendiendo</h3>
            <div class=" py-3 flex flex-wrap justify-center gap-4"> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4  content-center mx-auto">
                    <IconAstro class="items-center shadow-sm content-center  size-10"  />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Astro</p>
                </div> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4  content-center mx-auto">
                    <Typescript class="items-center shadow-sm content-center size-10"/>
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Typescript</p>
                </div> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4  content-center mx-auto">
                    <Flutter class="items-center shadow-sm content-center size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Flutter</p>
                </div> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4  content-center mx-auto">
                    <React class="items-center shadow-sm content-center size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">React</p>
                </div> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4  content-center mx-auto">
                    <Csharp class="items-center shadow-sm content-center rounded-full size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">C#</p>
                </div> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4  content-center mx-auto">
                    <Godot class="items-center shadow-sm content-center rounded-full size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Godot</p>
                </div> 
            </div>
        </blockquote>
        
    </figure>
    <figure class=" shadow-inner shadow-purple-700/30  flex flex-col items-center justify-center p-8 text-center bg-gradient-to-l md:rounded-ee-lg bg-gradient from-purple-700/60 to-blue-800/60">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold  text-yellow-400">Herramientas</h3>
            <div class=" py-3 flex flex-wrap justify-center gap-4"> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4  content-center mx-auto">
                    <GitOnly class="items-center shadow-sm content-center size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Git</p>
                </div> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4  content-center mx-auto">
                    <Vscode class="items-center shadow-sm content-center size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Vs Code</p>
                </div>
                <div>
                    <div class="flex flex-wrap justify-center gap-4  content-center mx-auto">
                    <Shopify class="items-center shadow-sm content-center size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Shopify</p>
                </div> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4  content-center mx-auto " >
                    <GitHub class="items-center shadow-sm content-center size-10  drop-shadow-md"  />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">GitHub</p>
                </div> 
                <div>
                    <div class="flex flex-wrap justify-center gap-4  content-center mx-auto">
                    <Npm class="items-center shadow-sm content-center  size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Npm</p>
                </div>
                <div>
                    <div class="flex flex-wrap justify-center gap-4  content-center mx-auto">
                    <Bun class="items-center shadow-sm content-center  size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Bun</p>
                </div>
                <div>
                    <div class="flex flex-wrap justify-center gap-4  content-center mx-auto">
                    <Canva class="items-center shadow-sm content-center  size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Canva</p>
                </div>
                <div>
                    <div class="flex flex-wrap justify-center gap-4  content-center mx-auto">
                    <AndroidStudio class="items-center shadow-sm content-center  size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Android Studio</p>
                </div>
                <div>
                    <div class="flex flex-wrap justify-center gap-4  content-center mx-auto">
                    <Linux class="items-center shadow-sm content-center  size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Linux</p>
                </div>
                <div>
                    <div class="flex flex-wrap justify-center gap-4  content-center mx-auto">
                    <Confluence class="items-center shadow-sm content-center  size-10" />
                    </div>
                    <p class="text-xs text-center mx-auto justify-center list-none font-sans text-pretty text-gray-400 flex-wrap flex ">Confluence</p>
                </div>
            </div>
        </blockquote>
         
    </figure>
</div>
