

<div class="container  ">
    <span class="text first-text">Hey,</span>
    <span class="text sec-text">Hola Mundo!</span>
</div>

<style>
.container{
    display: inline-block;
}
.container .text{
    position: relative;
    color: rgb(253 224 71 / 0.8);
    font-weight: 700;
}
.container .text.first-text{
    color: #FFF;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    border-left: 2px solid rgb(253 224 71 / 0.8);
    animation: animate 2.5s steps(10) infinite alternate,
    cursor .4s step-end infinite alternate; 
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 2px);
        border-color: transparent;
    }
    100%{
        left: 0%;
        border-color: transparent;
    }
}
@keyframes cursor{
    50%{border-color: transparent;}
}
</style>

<script>
const text = document.querySelector(".sec-text");
const textLoad = () => {
     setTimeout(() => {
if (text) {
    text.textContent = "Soy Gerald";
}
    }, 4000);
        
setTimeout(() => {
if (text) {
    text.textContent = "Developer";
}
    }, 8000);
        
setTimeout(() => {
if (text) {
    text.textContent ="El indicado";
}
}, 12000); //1s = 1000 millisecon
}
textLoad();
setInterval(textLoad, 12000);
</script> 