---
import Home from '../components/icon/Home.astro';
import BriefCase from '../components/icon/BriefCase.astro';
import Among from '../components/icon/Among.astro';
import SkillsIcon from '../components/icon/SkillsIcon.astro';
import Contact from '../components/icon/Contact.astro';


---

<footer class=" rounded-lg  m-4 backdrop-blur-lg py-8 w-full xl:w-[1120px] mx-auto">
    <div class="w-full  mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <ul class="flex flex-wrap text-center font-semibold text-pretty items-center mt-3 text-sm text-white/90 sm:mt-0">
                <li>
                    <a href="#top" class="hidden md:block sm:block hover:underline me-4 md:me-6"><span data-lang="es">Inicio</span><span data-lang="en">Home</span></a>
                </li>
                <li>
                    <a href="#experiencia" class="hidden md:block sm:block hover:underline me-4 md:me-6"><span data-lang="es">Experiencia</span><span data-lang="en">Experience</span></a>
                </li>
                <li>
                    <a href="#sobre-mi" class="hidden md:block sm:block hover:underline me-4 md:me-6"><span data-lang="es">Sobre mí</span><span data-lang="en">About me</span></a>
                </li>
                <li>
                    <a href="#skills" class="hidden md:block sm:block hover:underline me-4 md:me-6"><span data-lang="es">Habilidades</span><span data-lang="en">Skills</span></a>
                </li>
                <li>
                    <a href="#contacto" class="hidden md:block sm:block hover:underline"><span data-lang="es">Contacto</span><span data-lang="en">Contact</span></a>
                </li>
                <!--Iconos de Movil -->
                <li>
                    <a href="#top" class="block md:hidden sm:hidden hover:underline me-4 md:me-6"><Home class="size-10"/></a>
                </li>
                <li>
                    <a href="#experiencia" class="block md:hidden sm:hidden hover:underline me-4 md:me-6"><BriefCase class="size-10"/></a>
                </li>
                <li>
                    <a href="#sobre-mi" class="block md:hidden sm:hidden hover:underline me-4 md:me-6"><Among class="size-10"/></a>
                </li>
                <li>
                    <a href="#skills" class="block md:hidden sm:hidden hover:underline me-4 md:me-6"><SkillsIcon class="size-10"/></a>
                </li>
                <li>
                    <a href="#contacto" class="block md:hidden sm:hidden hover:underline"><Contact class="size-10"/></a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="font-semibold text-pretty text-sm sm:text-center opacity-90 text-yellow-300/70">
                <span data-lang="es">© {new Date().getFullYear()} Gerald Quiñenao, Casi todos los derechos reservados.</span>
                <span data-lang="en">© {new Date().getFullYear()} Gerald Quiñenao. All rights reserved.</span>
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0 ">
                <a href="https://www.facebook.com/thegatosamurai/" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <svg class="w-4 h-4 sm:size-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                          <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
                      </svg>
                    <span class="sr-only"><span data-lang="es">Facebook</span><span data-lang="en">Facebook</span></span>
                </a>
                <a href="https://discord.gg/DmERbdNSst" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <svg class="w-4 h-4 sm:size-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 21 16">
                          <path d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"/>
                      </svg>
                    <span class="sr-only"><span data-lang="es">Discord Comunidad</span><span data-lang="en">Discord Community</span></span>
                </a>
                <a href="https://x.com/Thegatosamurai" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <svg class="w-4 h-4 sm:size-8" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4l11.733 16h4.267l-11.733 -16z" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg>
                    <span class="sr-only"><span data-lang="es">X</span><span data-lang="en">X</span></span>
                </a>
                <a href="https://github.com/TheGatoSamurai" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <svg class="w-4 h-4 sm:size-8 md:size-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only"><span data-lang="es">GitHub</span><span data-lang="en">GitHub</span></span>
                </a>

                <a href="https://www.instagram.com/thegatosamurai/" class="text-gray-500  hover:text-gray-900 ms-5">
                    <svg class="w-4 h-4 sm:size-8" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg>
                    <span class="sr-only"><span data-lang="es">Instagram</span><span data-lang="en">Instagram</span></span>
                </a>
            </div>
        </div>
    </div>
</footer>

